.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "n1 n2";

      margin-top: 50px;
  }
 
  .n1 { grid-area: n1;
    padding: 50px;
    background-color: rgb(38, 197, 46);
    margin-right:60px ;
}
 
  .n2 { grid-area: n2;
    padding: 50px;
    background-color: rgb(161, 161, 19);
}
 
.btnGuardar{
    padding: 20px;
    text-align: center;
}