<div>
    <div class="n1">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Titulo Noticia</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Alex mata a 7 latinoamericanos desconocidos">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">Imagen</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Contenido Noticia</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </div>
    <div class="n2">
        <h2>Noticias a printar</h2>
        <div id="listaNoticias" [innerHTML]="cargarDatos()"></div>
    </div>
        
</div>
    